/*
body {
  margin: 0;
  padding: 0;
}

/*main
    position: absolute;
    width: 300px;
    height: 19px;
    left: 396px;
    top: 180px;
}*/
/*header{
position: absolute;
width: 37637px;
height: 37px;
left: 203px;
top: 58px;

font-family: Righteous;
font-size: 20px;
line-height: 25px;

color: #333333;
}
        
.title {
  text-align: center;
}

[required] {
  border: 1px solid #F85E5E;
}

.validar {
  font-family: Jua;
  font-size: 25px;
  line-height: 8px;
  background: #F85E5E;
  border: none;
  color: beige;
  margin: 1em;
  padding: 1em 1em;
  border-radius: 7em;
}


.datos {
  width: 49%;
  display: inline-block;
  min-height: 315px;
}

.img {
  grid-column
}*/

.expiracion {
  -webkit-appearance: none;
}
.img{
  display: grid;
}
