/*
body {
  margin: 0;
  padding: 0;
}

main
    position: absolute;
    width: 300px;
    height: 19px;
    left: 396px;
    top: 180px;
}
header{
position: absolute;
width: 37637px;
height: 37px;
left: 203px;
top: 58px;

font-family: Righteous;
font-size: 20px;
line-height: 25px;

color: #333333;
}
.title {
  text-align: center;
}

[required] {
  border: 1px solid #F85E5E;
}

.validar {
  font-family: Jua;
  font-size: 25px;
  line-height: 8px;
  border: none;
  background: #F85E5E;
  color: beige;
  margin: 1em;
  padding: 1em 1em;
  border-radius: 7em;
}


.datos {
  width: 49%;
  display: inline-block;
  min-height: 315px;
}

.img {
  grid-column
}*/


.expiracion {
  -webkit-appearance: none;
}

/*con css grid, definimos dos columnas de 800 x 800 y dos filas de 700 x 50 */
.contenedor {
  display: grid;
  grid-template-columns: 800px 800px;
  grid-template-rows: 300px 400px 30px 200px;
  align-items: center;

}

.datos {
  grid-template-rows: 700px 50px 700px;
  grid-row-start: 1;
  grid-row-end: 3;
}

.numero {
  padding: 55px 1px 80px 30px;
}

.img {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.expiracion {
  padding: 55px 1px 80px 30px;
}

.mes {
  justify-content: flex-end;
}

[required] {
  border: 1px solid #F85E5E;
}

.validar {
  font-family: Jua;
  font-size: 25px;
  line-height: 8px;
  border: none;
  background: #F85E5E;
  color: beige;
  margin: auto;
  padding: 20px 25px 15px 20px;
  border-radius: 8em;
}

#mes {
  padding: 20px 25px 15px 20px;
}
